{% schema %}
{
  "name": "Hero Banner Custom",
  "settings": [
    // Desktop Settings
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "topmiddletext",
      "label": "Top Header Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "bottommiddletext",
      "label": "Bottom Header Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    },
    {
      "type": "image_picker",
      "id": "logoimg",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Main Image (Hero)"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Side Image"
    },
    {
      "type": "text",
      "id": "button_1_label",
      "label": "Top Button 1",
      "default": "Tisso Vision"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Top Button 1 Link"
    },
    {
      "type": "text",
      "id": "button_2_label",
      "label": "Gift Button Label",
      "default": "Choose gift"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Gift Button Link"
    },
    {
      "type": "text",
      "id": "button_3_label",
      "label": "Shop Now Button",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_3_link",
      "label": "Shop Now Button Link"
    },

    // Mobile Settings
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "textarea",
      "id": "mobiledescription",
      "label": "Mobile Description",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination."
    },
    {
      "type": "text",
      "id": "mobilebottommiddletext",
      "label": "Bottom Header Text (Mobile)",
      "default": "SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Mobile View Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner Custom",
      "category": "Custom"
    }
  ]
}
{% endschema %}


<!-- Desktop View Output Starts Here -->

<div class="hero-banner-custom hero banner-custom-desktop">
<div class="top-banner-hero-custom-wrapper-bg">
<div class="top-banner-hero-custom-wrapper">
  <div class="top-banner-hero-custom-wrapperInner page-width">
  <div class="top-banner-hero-custom-item topSideSec topSideSecLeft">
    <img src="{{ section.settings.logoimg | image_url }}" alt="{{ section.settings.heading }}">
  </div>
  <div class="top-banner-hero-custom-item topSideSecMiddle">{{ section.settings.topmiddletext }}</div>
  <div class="top-banner-hero-custom-item topSideSec topSideSecRight"><a href="{{ section.settings.button_2_linkk }}" class="btnchoosegift">{{ section.settings.button_2_label }}  → </a></div>
</div>
  </div>
 <img src="{{ section.settings.image_1 | image_url }}" alt="{{ section.settings.heading }}" class="hero-banner-main-img page-width" >
</div>
<div class="hero-banner-info  page-width">
   
<div class="hero-banner-info-content">
  <h1 class="hero-banner-title">{{ section.settings.heading }}</h1>
  <span class="hero-banner-description">{{ section.settings.description }}</span>
  <a href="{{ section.settings.button_3_linkk }}" class="btnshopnow">{{ section.settings.button_3_label }}  → </a>
</div>
  <img src="{{ section.settings.image_2 | image_url }}" alt="{{ section.settings.heading }}" class="hero-banner-image">
</div>
<div class="hero-banner-info-bottom">{{ section.settings.bottommiddletext }}</div>
</div>

<!-- Desktop View Output End Here -->


<!-- Mobile View Output Starts Here -->

<div class=" banner-custom-mobile">
<div class="top-banner-hero-custom-wrapperMobile" id="top-banner-headMobile">
  <div class="top-banner-hero-custom-wrapperMobile-left"><img src="{{ 'mobiletoggle.png' | asset_url }}" id="btnmobiletoggle" /></div>
  <div class="top-banner-hero-custom-wrapperMobile-right">
    <img src="{{ section.settings.logoimg | image_url }}" alt="{{ section.settings.heading }}">
  </div>
</div>
<div class="top-banner-hero-custom-wrapperMobile-content" id="top-banner-hero-custom-wrapperMobile-content">
  <div>{{ section.settings.topmiddletext }}</div>
  <a href="{{ section.settings.button_2_linkk }}" class="btnchoosegift">{{ section.settings.button_2_label }}  → </a>
</div>

  <h1 class="hero-banner-title">{{ section.settings.heading }}</h1>
  <span class="hero-banner-description">{{ section.settings.mobiledescription }}</span>
  <img src="{{ section.settings.image_3 | image_url }}" alt="{{ section.settings.heading }}" class="hero-banner-image">
  <div class="btnshopnowCont"><a href="{{ section.settings.button_3_linkk }}" class="btnshopnow">{{ section.settings.button_3_label }}  → </a></div>
  
  <div class="hero-banner-info-bottom">{{ section.settings.mobilebottommiddletext }}</div>
</div>

<!-- Mobile View Output End Here -->



<script>
// ==== Functio for slide up and down for section (Mobile Bar )

let slideUp = (target, duration=500) => {
    target.style.transitionProperty = 'height, margin, padding';
    target.style.transitionDuration = duration + 'ms';
    target.style.boxSizing = 'border-box';
    target.style.height = target.offsetHeight + 'px';
    target.offsetHeight;
    target.style.overflow = 'hidden';
    target.style.height = 0;
    target.style.paddingTop = 0;
    target.style.paddingBottom = 0;
    target.style.marginTop = 0;
    target.style.marginBottom = 0;
    window.setTimeout( () => {
      target.style.display = 'none';
      target.style.removeProperty('height');
      target.style.removeProperty('padding-top');
      target.style.removeProperty('padding-bottom');
      target.style.removeProperty('margin-top');
      target.style.removeProperty('margin-bottom');
      target.style.removeProperty('overflow');
      target.style.removeProperty('transition-duration');
      target.style.removeProperty('transition-property');
      
    }, duration);
  }

  let slideDown = (target, duration=500) => {
    target.style.removeProperty('display');
    let display = window.getComputedStyle(target).display;

    if (display === 'none')
      display = 'block';

    target.style.display = display;
    let height = target.offsetHeight;
    target.style.overflow = 'hidden';
    target.style.height = 0;
    target.style.paddingTop = 0;
    target.style.paddingBottom = 0;
    target.style.marginTop = 0;
    target.style.marginBottom = 0;
    target.offsetHeight;
    target.style.boxSizing = 'border-box';
    target.style.transitionProperty = "height, margin, padding";
    target.style.transitionDuration = duration + 'ms';
    target.style.height = height + 'px';
    target.style.removeProperty('padding-top');
    target.style.removeProperty('padding-bottom');
    target.style.removeProperty('margin-top');
    target.style.removeProperty('margin-bottom');
    window.setTimeout( () => {
      target.style.removeProperty('height');
      target.style.removeProperty('overflow');
      target.style.removeProperty('transition-duration');
      target.style.removeProperty('transition-property');
    }, duration);
  }
   let slideToggle = (target, duration = 500) => {
    if (window.getComputedStyle(target).display === 'none') {
      return slideDown(target, duration);
    } else {
      return slideUp(target, duration);
    }
  }

// ==== On Document Ready Declear button click events to show hide section and change toggle icon to close icon.

document.addEventListener("DOMContentLoaded", function () {
		
		// == Following code for toggle section on toggle icon click
		
		let speedAnimation = 400;
		let targetId = document.getElementById("top-banner-hero-custom-wrapperMobile-content");

		let slideBtnClick = (id, sl) => document.getElementById(id).addEventListener('click', () => sl(targetId, speedAnimation));
		slideBtnClick('btnmobiletoggle', slideToggle);
    
	// == toggle button click event
    const toggletBtn = document.getElementById("btnmobiletoggle");
    toggletBtn.addEventListener("click", function (e) {
	  
      createToggleTopDarwer();
     });
	 
	// function to change icon and add class for box-shadow
	function createToggleTopDarwer() {
		const headMobile = document.getElementById('top-banner-headMobile');
		const secDiv = document.getElementById('top-banner-hero-custom-wrapperMobile-content');
		const buttontoggle = document.getElementById('btnmobiletoggle');
		let isVisible = secDiv.style.display;
	
			if (isVisible=='block') {
			   
			  headMobile.classList.remove('bxshadow');
			  buttontoggle.src = '{{ 'mobiletoggle.png' | asset_url }}';
			   
			} else {
				
			   headMobile.classList.add('bxshadow');
			   buttontoggle.src = '{{ 'closeicon.png' | asset_url }}';
			}
			isVisible = !isVisible;
	}
    
  });
</script>

<style>
.banner-custom-mobile {
	display: none;
	text-align: center;
}

.hero-banner-custom {
	font-family: Jost, sans-serif !important;
}

.top-banner-hero-custom-wrapper-bg {
	min-height: 50vh;
	text-align: center;
}

.hero-banner-main-img {
	object-fit: cover;
	width: 100%;
	padding: 0px !important;
}

.top-banner-hero-custom-wrapper {
	background-color: #f6f6f6;
}

.top-banner-hero-custom-wrapperInner {
	display: flex;
	gap: 8px;

	font-family: Jost;
	font-weight: 500;
	color: #000;
	flex-direction: row;
	justify-contents: center;
	align-items: center;
	padding: 8px 10px;
}

.hero-banner-info-bottom {
	background-color: #f6f6f6;
	font-family: Jost, sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	padding: 8px;
	text-align: center;
}

.topSideSecMiddle {
	width: 300px;
	flex-grow: 1;
	text-align: center;
	font-family: Jost, sans-serif !important;
	font-size: 16px;
	font-weight: 400;
}

.topSideSec {
	width: 200px;
}

.topSideSecLeft {
	text-align: left;

}

.topSideSecLeft img {
	display: flex;
}

.topSideSecRight {
	text-align: right;

}

.btnTissovision,
.btnTissovision:visited {
	font-family: Jost;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
	font-size: 20px;
	cursor: pointer;
	-shadow-opacity: 0 !important;
	--shadow-visible: 0 !important;
	--border-offset: 0 !important;
	--border-opacity: 0 !important;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	text-decoration: none;
	text-transform: uppercase;
}

.btnchoosegift {
	display: inline-block;
	padding: 4px 16px;
	background: #FFF544;
	color: #000;
	border: none;
	font-size: 16px;
	cursor: pointer;
	border: 0px !important;
	-shadow-opacity: 0 !important;
	--shadow-visible: 0 !important;
	--border-offset: 0 !important;
	--border-opacity: 0 !important;
	text-decoration: none;
	text-transform: uppercase;
	align-self: flex-end;
	background: linear-gradient(to left, #FFF544 50%, #000 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
}

.btnchoosegift:hover {
	background-position: left;
	color: #fff;
}


.hero-banner-info {
	display: flex;
	align-items: flex-start;
	margin-top: 10px;
}

.hero-banner-info-content {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	max-width: 40%;
	font-family: Jost, sans-serif !important;
}

.hero-banner-title {
	font-family: Jost, sans-serif !important;
	font-size: 60px;
	font-weight: 500;
	margin: 20px 0px 10px 0px;
	letter-spaceing: 0px;
}

.hero-banner-description {
	font-family: Jost, sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.hero-banner-image {
	object-fit: cover;
	width: 100%;
	max-width: 60%;
	height: 100%;
}


.btnshopnow {

	padding: 8px 16px;
	background: #000;
	color: #fff;
	border: none;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
	border: 0px !important;
	text-decoration: none;
	-shadow-opacity: 0 !important;
	--shadow-visible: 0 !important;
	--border-offset: 0 !important;
	--border-opacity: 0 !important;
	text-transform: uppercase;
	align-self: flex-start;
	background: linear-gradient(to left, #000 50%, #FFF544 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
}

.btnshopnow:hover {
	background-position: left;
	color: #000;

}

@media screen and (max-width: 749px) {

	.banner-custom-desktop {
		display: none;
	}

	.banner-custom-mobile {
		display: block;
	}

	#btnmobiletoggle {
		cursor: pointer;
	}

	.top-banner-hero-custom-wrapperMobile {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #F7F7F7;
		padding: 15px 20px;
	}

	.bxshadow {
		box-shadow: 0px 2px 4px 0px #00000026;
	}

	.top-banner-hero-custom-wrapperMobile-right {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-self: center;
		display: flex;
	}

	.top-banner-hero-custom-wrapperMobile-content {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-self: center;
		display: flex;
		flex-direction: column;
		transition: transform 0.3s ease, opacity 0.3s ease;
		display: none;
		background: #f2f2f2;
		padding: 15px 0px;
		font-size: 16px;
	}

	.btnchoosegift {
		margin-top: 10px;
		align-self: center !important;

	}

	.hero-banner-title {
		font-size: 30px !important;
	}

	.hero-banner-description {
		font-size: 16px !important;
		display: block;
		width: 75%;
		margin: 0 auto;
	}

	.hero-banner-image {
		max-width: 100% !important;
	}

	.hero-banner-info-bottom {
		font-size: 13px !important;
	}

	.btnshopnowCont {
		position: relative;
	}

	.btnshopnow {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		width: 200px;
		margin: 0 auto;
	}

	.product-gallery-section-tittle {
		font-size: 24px !important;
		line-height: 30px !important;
		text-align: center;
	}

}  
</style>
